@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins.scss" as *;

.dashboard-container {
  width: $width-full;
}

.dashboard-header {
  width: $width-full;
  height: $height-half;
}

.dashboard-top {
  display: flex;
  align-items: center;
  background-color: $white;
  height: 60px;
  margin: 0;
  padding: 0px 20px;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
  }

  h2 {
    font-size: $font-size-xl;
    margin: 0;
  }
}

.dashboard-hero {
  background-image: url("./src/assets/dashboardTop.jpeg");
  background-size: cover;
  display: flex;
  align-items: center;   
  padding-left: 60px;    
  min-height: 500px;     
  position: relative;    
  color: $alice-blue;
}

.hero-content {
  h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 1.1;
  }

  span {
    display: block;
  }

  .line-2 {
    margin-left: 50px;
  }
}



.search-btn {
  width: $width-full;
  flex: 1;
  display: flex;
  align-items: center;
  background: $bg-gray;
  padding: 6px 12px;
  border-radius: 6px;
  gap: 10px;
  max-width: $width-half;

  img {
    width: 20px;
    opacity: 0.6;
  }

  input {
    border: none;
    outline: none;
    background: transparent;
    width: $width-full;
    font-size: $font-size-base;
  }
}

.right-nav {
  display: flex;
  gap: 40px;
  margin-left: auto;
  cursor: pointer;
  
}

.cart-icon {
  img {
    width: 40px;
  }
}

.like-icon {
  img {
    width: 40px;
  }
}



.profile{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profile-avatar{
  width: 40px;
  height: 40px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;

  .welcome {
    font-size: $font-size-md;
    color: #888;
  }

  .name {
    font-size: 15px;
    font-weight: $font-weight-semibold;
    color: $black;
  }
}


.arrow{
  font-size: $font-size-base;
  color: $brown;
}

.category-section {
  @include flex-center;
  gap: 10px;
  padding: 30px;
}


.category-icon {
  img {
    width: $width-full;
    height: 100px;
    border-radius: $radius-circle;
    margin-top: 40px;
    transition: transform 0.25s ease;
  }
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: $width-full;

  p {
    margin-top: 10px;
    text-align: center;
    font-size: $font-size-md;
  }

  &:hover {
    .category-icon img {
      transform: translateY(-4px);
    }
  }
}


.report-btn {
  button {
    width: $width-full;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: $bg-gray;
    padding: 9px 12px;
    border-radius: 6px;
    font-size: $font-size-md;
  }
}

.sales-report{
  display: flex;
  flex-direction: column;
  padding: 30px;
}




@media (max-width: $breakpoint-tablet) {
  .dashboard-top{
    width: $width-full;
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }

  .logo,
  .search-btn,
  .right-nav {
    width: $width-full;
    justify-content: center;
  }


  .logo {
    justify-content: center;
  }

  .search-btn {
    display: flex;
    align-items: center;
  }

  .right-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
  }

  .category-section {
    display: flex;
    flex-direction: column;
  }

  .category-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hero-content {
    .line-2 {
      margin-left: 30px;
    }
  }
}


@media (max-width: $breakpoint-desktop) {
  .dashboard-top {
    padding: 0px 10px;
  }

  .search-btn {
    max-width: 90%;
  }

  .right-nav {
    gap: 30px;
    margin-left: 10px;
  }

}

@media (max-width: 840px) {
  .profile-text{
    display: none;
  }
}

@media (max-width: $breakpoint-mobile-lg) {
  .dashboard-top {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

   .search-btn input {
    width: $width-full;
    max-width: $width-full;
  }

  .right-nav {
    gap: 20px;
    margin-left: 0;
  } 

}