@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.login-container{
  width: $width-full;
  height: 100vh;
  display: flex;
}

.login-left{
  width: 80%;
  height: 100vh;
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $white;
  @include flex-center;
}

.login-right {
  width: $width-half;
  background-color: $white;
   @include flex-center;
}


.login-card {
  border-radius: 14px;
  background-color: $white;
  box-shadow: 0 8px 25px $shadow-medium;
  text-align: center;
  width: $width-full;
  max-width: 420px;
  padding: 32px 24px;
  margin: 16px;
}

.login-card input {
  width: $width-full;
  padding: 14px 14px;
  font-size: $font-size-base;
  border: 1px solid $border-color;
  border-radius: 6px;
  outline: none;
  transition: border-color 0s, box-shadow 0.2s;
  box-sizing: border-box;
  margin: 12px 0;
  height: 40px;
  padding-right: 40px;

}

.login-card input:focus {
  border-color: $orange;
  box-shadow: 0 0 0 2px $shadow-login;
}

.login-card button {
  width: $width-full;
  padding: 14px;
  margin-top: 30px;
  border: none;
  border-radius: 6px;
  background-color: $orange;
  color: $white;
  cursor: pointer;
  font-size: $font-size-md;
  font-weight: bold;
  box-shadow: 0 0 10px $shadow-dark;
}

.error {
  color: $error;
  font-size: $font-size-base;
  margin-top: 10px;
  display: block;
}

.login-header{
   @include flex-center;
  gap: 10px;
}

.login-header img{
  width: 40px;
}

.login-header h2 {
  margin: 0;
  font-weight: bold;
}

.subtitle {
  font-size: $font-size-md;
  color: $text-secondary;
  margin: 10px 0 25px;
}

.social-login{
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-login img{
  width: 40px;
  height: 40px;
}

.social-login button{
  background-color: $white;
  color: $black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-size: $font-size-md;
   @include flex-center;
  flex: 1;
  cursor: pointer;
  padding: 0 14px;
  gap: 8px;
  height: 50px;
  width: 50px;
}

.divider{
  margin: 30px 0;
  text-align: center;
  font-size: $font-size-md;
  color: $text-muted;
  position: relative;
}


.divider span {
  background: $white;
  padding: 0 12px;
  position: relative;
  z-index: 1;
}


.divider::before, .divider::after{
  content:"";
  width: $width-half;
  height: 1px;
  background: $text-muted;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.divider::before { left: 0; }
.divider::after { right: 0; }

.forgot{
  font-size: $font-size-base;
  text-align: right;
  color: $orange;
  cursor: pointer;
  margin: 10px;
}

.password-field{
  position: relative;

  input {
    width: 100%;
    padding-right: 10%;
  }

  span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: $font-size-lg;
    color: $text-muted;
  }
}



@media (max-width: $breakpoint-md){
  .login-left {
    display: none;
  }
  .login-right {
    width: $width-full;
  }
}



@media (max-width: $breakpoint-xl) {
  .login-card {
    padding: 24px 20px;
  }

  .login-header h2 {
    font-size: $font-size-xl;
  }

  .subtitle {
    font-size: $font-size-base;
  }

  .forgot {
    font-size: $font-size-sm;
  }

  .social-login{
    flex-direction: column;
  }

  .social-login button{
    width: $width-full;
    font-size: $font-size-base;
    padding: 14px 14px;
  }

  .social-login img{
    width: 32px;
    height: 32px;
  }

}
  
